
* {
    margin: 0;
    padding: 0;
}

.Counter {
    width: 250px;
    border: solid black 1px;
    text-align: center;
    font-size: 1.2em;
    margin: auto;
    padding: 20px;
}

.Counter button {
    width: 40px;
}